---
import Link from '$/components/Link.astro';
import PersonaGroup from '@/components/Profile/PersonaGroup.astro';
import {
  DocumentPdfFilled,
  VideoClipFilled,
  VideoFilled,
} from '$/components/Icons/fluentui';
import MeetingCountdown from '@/components/Meeting/Countdown.astro';
import MeetingTypeBadge from '@/components/Meeting/TypeBadge';
import { convertDate, weekNumber } from '@/utils/meetings';
import { getProfilesFromNames } from '$/utils/profiles';
import type { Meeting } from '@/utils/meetings';

import dayjs from 'dayjs';
import duration from 'dayjs/plugin/duration';
import utc from 'dayjs/plugin/utc';

dayjs.extend(duration);
dayjs.extend(utc);

interface Props {
  input: Meeting;
  dateFormat?: string;
};

const { input, dateFormat } = Astro.props;
const meeting = input.data;
const time_close = dayjs(meeting.time_start).add(dayjs.duration(meeting.duration)).toDate();
const isMaybeActive = dayjs().isBefore(time_close);

// Resolve credit names to profiles
const profiles = await getProfilesFromNames(meeting.credit);
---
<style is:global>
  [data-is-active="true"] .meeting-live-video-button {
    display: flex;
  }
  [data-is-active="true"] .meeting-video-unavailable-button {
    display: none;
  }
</style>

<li
  data-maybe-active={isMaybeActive ? "true" : undefined}
  data-time-start={isMaybeActive ? meeting.time_start.getTime() : undefined}
  data-time-close={isMaybeActive ? time_close.getTime() : undefined}
>
  <div class="group grid grid-cols-[1fr_max-content] px-2 py-1 -mx-2 gap-x-4 rounded-lg hover:bg-surface-200">
    <div class="flex flex-col lg:flex-row grow shrink min-w-0 gap-x-4 lg:items-center">
      <div class="flex flex-col-reverse lg:flex-row grow-0 shrink-0 gap-x-4 lg:items-center">
        <time
          class:list={["font-mono cursor-default", { "min-w-[20ch]": !dateFormat }]}
          datetime={convertDate(meeting.time_start, "YYYY-MM-DDTHH:mm:ssZ", meeting.timezone)}
          title={convertDate(meeting.time_start, "dddd, MMMM Do, YYYY, h:mm A (zzz)", meeting.timezone)}
          aria-label={convertDate(meeting.time_start, "dddd, MMMM Do, YYYY, h:mm A (zzz)", meeting.timezone)}
        >
          {dateFormat
            ? convertDate(meeting.time_start, dateFormat, meeting.timezone)
            : (
              convertDate(meeting.time_start, "ddd MMM DD", meeting.timezone) +
              ", " +
              (meeting.time_start.getMinutes() == 0
                ? convertDate(meeting.time_start, "h A", meeting.timezone)
                : convertDate(meeting.time_start, "h:mm A", meeting.timezone)
              )
            )
          }
        </time>
        <MeetingTypeBadge type={meeting.type} consistentWidth={true} />
      </div>
      <Link href={input.slug} class="lg:truncate w-full">
        <span>
          {meeting.week_number != null ? (
            <span
              aria-hidden="true"
              title={`Week ${weekNumber(meeting.week_number)}`}
              class="px-1 font-mono rounded-lg border-2 border-surface-150 select-none">Wk {weekNumber(meeting.week_number)}</span>
          ) : null}
          {meeting.title}
        </span>
      </Link>
      {meeting.location ? (
        <span class="flex grow-0 shrink-0 w-fit">
          {meeting.location}
        </span>
      ) : null}
    </div>
    <div class="hidden sm:flex flex-row grow-0 shrink-0 gap-x-4 items-center min-w-fit">
      <div class="flex flex-row gap-x-2 items-center">
        <MeetingCountdown time_start={meeting.time_start} time_close={time_close} />
        {meeting.recording ? (
          <Link
            href={meeting.recording}
            class="rounded-lg p-1 size-8 flex items-center justify-items-center bg-surface-150 border-2 border-surface-200 group-hover:bg-surface-200 group-hover:border-surface-150 hover:!border-primary"
            title="Watch video"
            aria-label="Watch video"
          >
            <VideoClipFilled />
          </Link>
        ) : isMaybeActive && meeting.live_video_url ? (
          <span>
            <Link
              href={meeting.live_video_url}
              class="meeting-live-video-button hidden rounded-lg p-1 size-8 items-center justify-items-center !text-white bg-gradient-to-tr from-blue-800 to-blue-500 border-2 border-surface-200 group-hover:bg-surface-200 group-hover:border-surface-150 hover:!border-primary"
              title="Join live video"
              aria-label="Join live video"
            >
              <VideoFilled />
            </Link>
            <span
              class="meeting-video-unavailable-button flex cursor-not-allowed rounded-lg p-1 size-8 items-center justify-items-center border-2 border-surface-150 text-surface-150 group-hover:border-surface-250 group-hover:text-surface-250 border-dashed"
              title="Video unavailable"
            >
              <VideoClipFilled />
            </span>
          </span>
        ) : (
          <span
            class="cursor-not-allowed rounded-lg p-1 size-8 flex items-center justify-items-center border-2 border-surface-150 text-surface-150 group-hover:border-surface-250 group-hover:text-surface-250 border-dashed"
            title="Video unavailable"
          >
            <VideoClipFilled />
          </span>
        )}
        {meeting.slides ? (
          <Link
            href={meeting.slides}
            class="rounded-lg p-1 size-8 flex items-center justify-items-center bg-surface-150 border-2 border-surface-200 group-hover:bg-surface-200 group-hover:border-surface-150 hover:!border-primary"
            target="_blank" rel="noopener noreferrer"
            title="Download slides"
            aria-label="Download slides"
          >
            <DocumentPdfFilled />
          </Link>
        ) : (
          <span
            class="cursor-not-allowed rounded-lg p-1 size-8 flex items-center justify-items-center border-2 border-surface-150 text-surface-150 group-hover:border-surface-250 group-hover:text-surface-250 border-dashed"
            title="Slides unavailable"
          >
            <DocumentPdfFilled />
          </span>
        )}
      </div>
      <span class="hidden xl:block">
        <PersonaGroup
          profiles={profiles}
          limit={3}
        />
      </span>
    </div>
  </div>
  <hr class="border-surface-200" />
</li>