---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

// CollectionEntry<'publications'>[];

const { input } = Astro.props as { input: CollectionEntry<'publications'> };

const { data: publication, id } = input;
const { title, date: raw_date, credit, publisher, publication_type, primary_link, card_image, tags, links } = publication;
const date = dayjs(raw_date).format('YYYY-MM-DD')
const href = `/publications/${id}/`
---
<div class="flex grow flex-col">
    <div class="aspect-video overflow-hidden">
        {card_image && card_image.background && (
            <a href={href} class="hover:brightness-50">
            <Picture
                src={card_image.background}
                widths={[300, 600, 900]}
                class="overflow-hidden object-cover h-full w-full"
                
                formats={['avif', 'webp']}
                alt={title ?? "Publication card image"}
                />
            </a>
        )}
    </div>
    <div class="p-2">
        {publication_type && (
          <div class="flex flex-row justify-between line-clamp-1 leading-4 m-0 font-mono font-size-small uppercase">
            <div>
                {publication_type}
            </div>
            <div>
                {date}
            </div>
          </div>
        )}
        {title && (
          <p class="line-clamp-2 leading-5 pb-0.5">
            <a href={href} class="text-white">
                {title}
            </a>
          </p>
        )}
      </div>
</div>