---
import Layout from '@/layouts/Base.astro';
import consts from '@/consts';
import Link from '@/components/Link.astro';
import { Picture } from 'astro:assets';
import { SocialIcon } from '@/components/Icons';
import SIGPwnyStack from '@/components/SIGPwnyStack.astro';
import SIGPwnyMorphology from '@/components/SIGPwnyMorphology';

// Pictures
import imgHome1 from '@/assets/home-promo/home-1.jpg';
import imgHome2 from '@/assets/home-promo/home-2.jpg';
import imgHome3 from '@/assets/home-promo/home-3.jpg';
import imgHome4 from '@/assets/home-promo/home-4.jpg';
import imgHome5 from '@/assets/home-promo/home-5.jpg';
import imgHome6 from '@/assets/home-promo/home-6.jpg';
---

<Layout title="Home">
  <section id="welcome" class="pb-8">
    <div class="flex flex-col">
      <div class="lg:order-2 pb-6 lg:w-2/3 lg:p-0 xl:w-1/2 mx-auto text-center">
        <h1 class="lg:text-6xl">Hacking @ UIUC</h1>
        <p>
          {consts.description}
        </p>
        <Link href="/join" class="btn-primary">Join Us</Link>
      </div>
      <div class="flex lg:order-1 gap-8 pr-20 sm:columns-2 sm:p-0 md:pr-20 lg:columns-3 lg:gap-12 lg:p-0 lg:pb-2 xl:gap-16 2xl:gap-16 2xl:px-28">
        <span class="skeleton-shimmer h-fit grow-0 flex-row rounded-xl pointer-events-none select-none border-surface-100 border-2 mt-6 w-full flex">
          <Picture
            src={imgHome1}
            alt="SIGPwny members concentrated on solving challenges during a CTF"
            class="object-cover"
            widths={[300, 600]}
            formats={['avif', 'webp']}
          />
        </span>
        <span class="skeleton-shimmer h-fit grow-0 flex-row rounded-xl pointer-events-none select-none border-surface-100 border-2 mt-0 w-full hidden sm:flex">
          <Picture
            src={imgHome2}
            alt="Two SIGPwny members taking a pizza break during Fall CTF 2023"
            class="object-cover"
            widths={[300, 600]}
            formats={['avif', 'webp']}
          />
        </span>
        <span class="skeleton-shimmer h-fit grow-0 flex-row rounded-xl pointer-events-none select-none border-surface-100 border-2 mt-12 w-full hidden lg:flex">
          <Picture
            src={imgHome3}
            alt="SIGPwny helpers present on web hacking during a weekly meeting"
            class="object-cover"
            widths={[300, 600]}
            formats={['avif', 'webp']}
          />
        </span>
      </div>
      <div class="flex lg:order-3 gap-8 pl-20 pb-2 sm:columns-2 sm:p-0 md:pl-20 lg:columns-3 lg:gap-12 lg:p-0 xl:gap-16 2xl:gap-16 2xl:px-28">
        <span class="skeleton-shimmer h-fit grow-0 flex-row rounded-xl pointer-events-none select-none border-surface-100 border-2 mt-0 w-full hidden lg:flex">
          <Picture
            src={imgHome4}
            alt="A presentation on reverse engineering during Fall CTF 2023"
            class="object-cover"
            widths={[300, 600]}
            formats={['avif', 'webp']}
          />
        </span>
        <span class="skeleton-shimmer h-fit grow-0 flex-row rounded-xl pointer-events-none select-none border-surface-100 border-2 mt-12 w-full hidden sm:flex">
          <Picture
            src={imgHome5}
            alt="SIGPwny members laughing in front of grafitti during a spray paint social event"
            class="object-cover"
            widths={[300, 600]}
            formats={['avif', 'webp']}
          />
        </span>
        <span class="skeleton-shimmer h-fit grow-0 flex-row rounded-xl pointer-events-none select-none border-surface-100 border-2 mt-6 w-full flex">
          <Picture
            src={imgHome6}
            alt="Two SIGPwny members solving Fall CTF 2023 challenges"
            class="object-cover"
            widths={[300, 600]}
            formats={['avif', 'webp']}
          />
        </div>
      </span>
    </div>
  </section>

  <section id="about">
    <span class="flex justify-center py-16">
      <SIGPwnyMorphology client:load client:visible={{rootMargin: "0px 200px -200px 200px"}} />
    </span>
    <div class="flex flex-col gap-8">
      <div class="panel mx-auto max-w-prose">
        <h2 class="text-3xl text-center">
          What We Do
        </h2>
        <p>
          As the cybersecurity club at the University of Illinois Urbana-Champaign, our mission is to 
          teach students cybersecurity through meetings, competitions, and research.
        </p>
      </div>
      <div class="panel mx-auto max-w-prose">
        <h2 class="text-3xl text-center">
          We're Beginner-Friendly
        </h2>
        <p>
          We believe cybersecurity should be accessible to all, so we teach everything from the ground up. Our 
          club content is designed to be approached by <em>anyone</em>, regardless of skill, major, or experience.
        </p>
      </div>
      <div class="mx-auto page-width-lg">
        <SIGPwnyStack />
      </div>
    </div>
  </section>

  <section id="join-us">
    <div class="flex flex-col my-16">
      <p class="text-4xl font-bold text-center">
        Learn how to hack!
      </p>
      <p class="text-center">
        Join SIGPwny on Discord today to start learning cybersecurity.
      </p>
      <Link href="/discord" class="btn-primary mx-auto flex flex-row gap-2 items-center">
        <SocialIcon name="Discord" />
        <span>Join Discord</span>
      </Link>
    </div>
  </section>
</Layout>
