---
import Layout from '@/layouts/Event.astro';
import Link from '$/components/Link.astro';
import FallCTFLogo from '@/components/FallCTFLogo';
import { getFallCTFEvents } from '@/utils/fallctf-events';

const events = (await getFallCTFEvents()).filter((event) => event.data.year === '2024');
if (events.length === 0) {
  return Astro.error(404, 'Event not found');
}
const event = events[0].data;
---
<Layout
  event={event}
  title={event.title}
  description={event.description}
>
  <div
    slot="hero"
    transition:name="hero"
  >
    <div class="flex flex-col items-center min-h-screen max-h-[1028px] justify-center">
      <FallCTFLogo year={event.year} transition:name="fall-ctf-logo" />
      <span class="flex flex-row gap-2">
        {event.links.map((link) => (
          <Link
            href={link.url}
            class="btn-primary font-bold border-2 border-surface-250"
          >
            {link.name}
          </Link>
        ))}
      </span>
    </div>
  </div>
  <div
    slot="body"
    transition:name="body"
  >
    <div class="flex flex-col gap-4">
      <details>
        <summary>What is a CTF?</summary>
        <span>CTF is an acronym for "capture-the-flag," which in the context of the cybersecurity field are competitions where teams solve security-related challenges to find a flag (usually a string of text). The flag can then be submitted to the competition platform for points, and the teams compete against each other for the most points!</span>
      </details>
      <details>
        <summary>How are tie-breakers determined?</summary>
        <span>The leaderboard is sorted first by the team with the most points. If teams have the same number of points, then the team who submitted their most recent flag earlier wins the tie-break.</span>
      </details>
      <details>
        <summary>How do I form a team?</summary>
        <span>By the day before the competition, we will be opening team registration on our competition platform. Feel free to find your team partner beforehand. We will also have multiple opportunities before and during the event to find and form teams!</span>
      </details>
      <details>
        <summary>I heard that there will be companies present. Do I need to dress up or prepare a resume?</summary>
        <span>We do not require a dress code and the expectation is that most people will be dressed casually. We will be offering a resume book to our sponsors and a resume PDF upload form will be provided during the event. If you need help preparing a resume, feel free to ask for advice in our Discord or take advantage of campus career resources!</span>
      </details>
    </div>
  </div>
</Layout>